.Container {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10;
}

.Header {
    display: flex;
    flex: 1;
}

.Content {
    display: flex;
    flex: 7;
}