.TopicPost {
    border: 1px solid black;

    margin: 5px;
}

.TopicPost-date {
    text-align: right;
}

.TopicPost-uri {
    text-align: right;

    margin-bottom: 10px;
}

.TopicPost-image {
    float: right;

    max-width: 60%;
    height: auto;

    margin: 10px;
}

.TopicPost-content{
    font-size: 22px;
    line-height: 28px;
    letter-spacing: -1px;
    word-spacing: 1px;
    text-indent: 10px;

    padding: 10px;
}